h1{
	font-size: 36px;

	padding: 5px;
	color:rgba(16, 178, 48, 1)
}

body{font-family: 'Amita', cursive;
	background-color: rgba(250, 187, 0, 0.14);
}

#page-wrap{ text-align: center;
			margin: 0px auto;
			width:900px; }
#nav a{ 
		text-decoration: none;
		color:black;
		font-size: 15px;
		letter-spacing: 3px;
		font-family: serif;
	}
#nav a:visted{
	color:black;
}
#nav a:active{
	color:black;
}

#book{
	color: black;
	padding: 30px;
	position: relative;
	z-index: 20;
}

.text{
	position: absolute;
	top:180px;
	left: 208px;
	font-size: 16px;
	text-align: center;
	list-style-type: none;
}

.text-2{
	position: absolute;
	top:170px;
	left: 470px;
	font-size: 10px;
	text-align: center;
	list-style-type: none;
}
.text-3{
	position: absolute;
	top:135px;
	left: 145px;
	font-size: 10px;
	text-align: center;
	list-style-type: none;
}
.text-4{
	position: absolute;
	top:135px;
	left: 435px;
	font-size: 10px;
	text-align: center;
	list-style-type: none;
}

.text-5{
	position: absolute;
	top:135px;
	left: 145px;
	font-size: 10px;
	text-align: center;
	list-style-type: none;
}
.text-6{
	position: absolute;
	top:150px;
	left: 435px;
	font-size: 10px;
	text-align: center;
	list-style-type: none;
}
.text-7{
	position: absolute;
	top:145px;
	left: 170px;
	font-size: 10px;
	text-align: center;
	list-style-type: none;
}
.text-8{
	position: absolute;
	top:115px;
	left: 435px;
	font-size: 8px;
	text-align: center;
	list-style-type: none;
}
.text-9{
	position: absolute;
	top:140px;
	left: 160px;
	font-size: 10px;
	text-align: center;
	list-style-type: none;
}
.text-10{
	position: absolute;
	top:190px;
	left: 460px;
	font-size: 8px;
	text-align: center;
	list-style-type: none;
}

#caution{ font-size: 8px; }

body, a:hover {cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), progress !important;}


